.cactus-widget {
  border: 1px solid blue;
  height: 40rem;
  width: 40rem;
}

.cactus-main-container {
  border: 1px solid yellow;
  display: flex;
  justify-content: center;
}

.cactus-emulation-menu {
  list-style: none;
  li {
    cursor: pointer;
    margin: 0 1rem;
    padding: 0.5rem;
    &:hover {
      background-color: green;
    }
  }
}