.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid blue; */
}