.margaritas-widget {
  border: 10px solid #ccc;
  height: 50rem;
  width: 55rem;
  font-family: "Quicksand", sans-serif;
  font-size: 0.875rem !important;
  font-weight: 700;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-left: 5rem;
}

.emulation-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  justify-content: center;
  list-style: none;
  width: 100%;
  li {
    display: block;
    width: 100%;
    max-width: 20rem;
    cursor: pointer;
    padding: 0.5rem;
    user-select: none;
    background-color: #ddd;
    &:hover {
      background-color: #eee;
    }
  }
}

.emulatedMenu {
  // border: 1px solid blue;
  height: 100%;
  width: 100%;
  max-width: 20rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  input {
    font-family: "Quicksand", sans-serif;
    resize: none;
    border: 1px solid #ddd;
    height: fit-content;
    white-space: pre-wrap;
    width: 100%;
    padding: 0.5rem;
    max-width: 20rem;
    margin-top: 20px;
    &:focus {
      outline: 1px solid blue;
      border: 1px solid #aaa;
    }
  }
}

  $message-color: #a28363;
  $message-background-color: #fff3eb;
  $message-border-color: #acc87d;
  $user-color: white;
  $user-background-color: #95915d;
  $user-border-color: #e6e6e6;
  $user-shadow: rgba(120, 120, 120, 0.38) 0px 3px 3px 1px;
  $pronouns-color: white;
  $pronouns-background-color: #ffffff;
  $pronouns-border-color: #e6e6e6;
  $pronouns-shadow-color: rgba(120, 120, 120, 0.38);
  $mods-background-color: #d1cfb4;
  $mods-message-border: #fff3eb;
  $event-background-color: rgba(172, 200, 125, 0.5);
  $event-shadow-color: #a38c79;
  $event-color: #fef9fd;

.margaritas-scale-up {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.margaritas-scale-down {
  transform: scale(0);
  transition: transform 0.2s;
}

.margaritas-emotes {
  width: 4.375rem;
  vertical-align: middle;
}

// margaritas-main {
//   overflow: hidden;
//   max-height: 1080px;
//   position: absolute;
//   bottom: 0;
//   height: 100%;
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: flex-end;
//   z-index: 1;
// }

.margaritas-super-main-container {
  display: flex;
  align-items: center;
  animation-name: slideMessage;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  padding: 0 1rem;
  /* transform-style: preserve-3d; */
}

.margaritas-main-container {
  max-width: 37.5rem;
  background: $message-background-color;
  margin-bottom: 1.875rem;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  left: 1.875rem;
  width: 100%;
  border-radius: 40px;
  border: 5px solid $message-border-color;
  /* border: double 4px transparent;
  border-radius: 80px;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #f00, #3020ff);
  background-origin: border-box;
  background-clip: padding-box, border-box; */ // I'm using this for the rainbow chat with gradient borders
}

.margaritas-username-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr 9fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -1.7rem;
  left: 2rem;
  gap: 10px;
}

.margaritas-username-info {
  width: fit-content;
  border-radius: 1.25rem;
  text-align: center;
  padding: 0.6rem 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  box-shadow: $user-shadow;
  position: relative;
  background-color: $user-background-color;
}

.margaritas-flower {
  position: absolute;
  bottom: -0.5rem;
  right: 1rem;
  height: 64px;
  width: 64px;
  transform: scale(0.8);
}

.margaritas-leafs-container {
  position: absolute;
  right: 0.6rem;
  bottom: 0.3rem;
  z-index: 2;
  width: 25px;
  height: 25px;
  display: grid;
  place-content: center;
}

.margaritas-username-badges {
  display: flex;
  gap: 5px;
}

.margaritas-badges-img {
  background-color: transparent;
  width: 1.125rem;
  height: 1.125rem;
}

.margaritas-capitalize-user {
  color: $user-color;
  font-weight: bold;
  font-size: 1.35rem;
  display: inline-block;
  width: 12ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.margaritas-message-container {
  padding-left: 1.1875rem;
  flex-grow: 1;
  overflow: hidden;
  margin-bottom: 1.25rem;
}

.margaritas-message-icon-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 0.625rem;
  margin-top: 0.625rem;
}

.margaritas-text {
  font-size: 1.5rem;
  font-weight: 700;
}

.margaritas-rendered-text {
  word-wrap: break-word;
  display: inline-block;
  width: 30rem;
  color: $message-color;
  white-space: normal;
  margin-right: 0.625rem;
  padding-top: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.7rem;
  animation: twinkleText 0.5 1 forwards;
}

.margaritas-pronouns {
  color: $pronouns-color;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  justify-self: right;
  margin-right: 2rem;
  position: relative;
  z-index: 1;
}

.margaritas-prons {
  max-width: 100%;
  text-align: center;
  background: $pronouns-background-color;
  border-radius: 1.25rem;
  padding: 7px;
  box-shadow: rgba(120, 120, 120, 0.38) 0px 3px 3px 1px;
}

.margaritas-separator {
  background-color: transparent !important;
  border: none;
  justify-content: center;
  height: 1.25rem;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -0.625rem !important;
  margin-bottom: 1.875rem !important;
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-left: 5px;
}

.margaritas-emote img {
  max-width: 3.5rem;
  width: 100%;
}

.margaritas-invert {
  transform: scaleX(-1);
}

.margaritas-event-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 37rem;
  padding: 1rem 1rem 0.6rem 1rem;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
  left: 1.875rem;
  width: 37.5rem;
}

.widget {
  width: 800px;
  height: 1000px;
}

.margaritas-event-name {
  max-width: 300px;
  height: 100%;
  top: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: $event-color;
  letter-spacing: normal;
  font-size: 1.5rem;
  animation: showNames 0.5s ease-in-out forwards;
  background-color: $event-background-color;
  padding: 3px 10px;
  border-radius: 40px;
  /* text-shadow: 0 2px 0.2em $event-shadow-color); */
}

.margaritas-event-leafs-container-1,
.margaritas-event-leafs-container-2 {
  height: 40px;
  width: 40px;
  display: grid;
  place-content: center;
}

.margaritas-event-leafs-container-1 img,
.margaritas-event-leafs-container-2 img {
  height: 37px;
  width: 40px;
  transform: scale(0.65);
}

.margaritas-event-leafs-container-1 img {
  animation: showLeftFungi 0.5s ease-in-out forwards;
}

.margaritas-event-leafs-container-2 img {
  order: 2;
  transition: none;
  transform: rotateY(180deg);
  animation: showRightFungi 0.5s ease-in-out forwards;
}

.margaritas-event-leafs-container-2 {
  order: 2;
}

.margaritas-role-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.margaritas-role {
  width: 40px;
  height: 56px;
  transform: scale(0.75);
}

.margaritas-fungi-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@keyframes showLeftFungi {
  0% {
    transform: translateX(-100%) scale(0.65);
  }

  100% {
    transform: translateX(0%) scale(0.65);
  }
}

@keyframes showRightFungi {
  0% {
    transform: translateX(100%) rotateY(180deg) scale(0.65);
  }

  100% {
    transform: translateX(0%) rotateY(180deg) scale(0.65);
  }
}

@keyframes hideLeftStar {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes hideRightStar {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes showNames {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hideNames {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes removeMessage {
  0% {
    transform: scale(100%);
    transform-origin: bottom center;
  }

  50% {
    transform: scale(110%);
    transform-origin: bottom center;
  }

  100% {
    transform: scale(0%);
    transform-origin: bottom center;
  }
}

@keyframes glowHearts {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideMessage {
  0% {
    transform: scale(0);
    transform-origin: bottom center;
    /* transform-style: preserve-3d; */
  }

  50% {
    transform: scale(110%);
    transform-origin: bottom center;
    /* transform-style: preserve-3d; */
  }

  100% {
    transform: scale(100%);
    transform-origin: bottom center;
    /* transform-style: preserve-3d; */
  }
}

@keyframes popUpText {
  0% {
    opacity: 0%;
  }

  40% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
